<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Spotifytrack — Artist Averager" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/spotifytrack.png" />
    <!-- pause analytics disabled -->
    <!-- <script async defer data-domain="your.domain.here" src="https://pause.ameo.dev/js/pause.js"></script> -->
  </head>
  <body>
    <div id="artist-averager-root"></div>
  </body>
</html>
