<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#121212" />
    <meta
      name="description"
      content="Spotifytrack provides a record of your listening habits on Spotify, allowing you to see how your preferences change over time and remember when you discovered your favorite tracks and artists."
    />

    <meta property="og:title" content="Spotifytrack" />
    <meta property="og:url" content="https://spotifytrack.net/" />
    <meta
      property="og:description"
      content="Spotifytrack provides a record of your listening habits on Spotify, allowing you to see how your preferences change over time and remember when you discovered your favorite tracks and artists."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://spotifytrack.net/spotifytrack.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta
      property="og:image:alt"
      content="A green music note on a dark background; the Spotifytrack logo"
    />
    <meta property="og:twitter:card" content="summary" />
    <meta name="twitter:title" content="Spotifytrack" />
    <meta
      name="twitter:description"
      content="Spotifytrack provides a record of your listening habits on Spotify, allowing you to see how your preferences change over time and remember when you discovered your favorite tracks and artists."
    />
    <meta http-equiv="origin-trial" content="AtHqdTGJqbuSxskx0jnTVBfRdEk4htsejuwjAIvg7+16rFdQCkbPHG8T1flYLrohMUInfVZu4wct1745k8p41gcAAABZeyJvcmlnaW4iOiJodHRwczovL3Nwb3RpZnl0cmFjay5uZXQ6NDQzIiwiZmVhdHVyZSI6IldlYkFzc2VtYmx5U2ltZCIsImV4cGlyeSI6MTYyMzgwMTU5OX0=" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175548254-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-175548254-1');
    </script>

    <!-- plausible -->
    <script async defer data-domain="spotifytrack.net" src="https://plausible.ameo.dev/js/plausible.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
