<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv='content-language' content='en-us'>
    <title>{{ htmlWebpackPlugin.options.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#121212" />
    <meta name="description" content="Track your listening habits on Spotify, see how your music preferences change over time and remember when you discovered your favorite tracks and artists." />

    <meta property="og:title" content="Spotifytrack" />
    <meta property="og:url" content="/" />
    <meta property="og:description" content="Track your listening habits on Spotify..." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/spotifytrack.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:image:alt" content="Spotifytrack logo" />
    <meta property="og:twitter:card" content="summary" />
    <meta name="twitter:title" content="Spotifytrack" />
    <meta name="twitter:description" content="Track your listening habits on Spotify..." />

    <!-- pause analytics disabled -->
    <!-- <script async defer data-domain="your.domain.here" src="https://pause.ameo.dev/js/pause.js"></script> -->
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
