.average-artists-listing {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 200px;

  .average-artist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;

    .artist-image {
      height: 200px;
      width: 200px;
    }

    .artist-name {
      font-weight: bold;
      font-size: 24px;
    }
  }

  .artist-similarities {
    margin-bottom: 40px;

    h2 {
      text-align: center;
      font-size: 24px;
    }
  }

  .similarity-bar-container {
    flex: 1;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .top-tracks {
    display: flex;
    flex: 1;
    flex-direction: row;
    transform: scale(0.8);
    transform: translate(-3px);
    overflow-x: auto;
    margin-left: 40px;
    max-height: 218px;
    overflow-y: hidden;
  }
}
