footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;

  div {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media only screen and (max-width: 800px) {
  footer {
    font-size: 10px !important;
    width: 100vw;
  }
}
