.related-artists-graph {
  svg {
    .link {
      stroke: #9b9b9b;
      fill: #9b9b9b;
      z-index: -1;
    }

    rect.node {
      cursor: pointer;
      fill: rgb(18, 226, 11);
    }

    .label {
      font-family: 'PT Sans';
      font-size: 12px;
      fill: black;
      cursor: pointer;
    }
  }

  svg[data-artist-selected='true'] {
    .link {
      stroke: #333;
      fill: #333;
    }

    rect.node {
      fill: rgb(42, 88, 40);
    }

    .link.selected {
      stroke: #ccc;
      fill: #ccc;
    }

    rect.node.selected {
      fill: rgb(18, 226, 11);
    }
  }
}
