.__tooltip .__tooltip-content {
  visibility: hidden;
  position: absolute;
  background-color: #040404;
  padding: 6px;
  border-radius: 5px;
  margin-left: 6px;
  margin-top: 4px;
  border: 1px solid #555;
  font-size: 14px;
}

.__tooltip:hover .__tooltip-content {
  visibility: visible;
}

@media only screen and (max-width: 800px) {
  .__tooltip .__tooltip-content {
    font-size: 12px;
    margin-right: 30px;
  }
}
