@import './colors.scss';

.artist-stats {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 800;

  .genres-listing {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .genre-chip-link {
      text-decoration: none;
    }

    .genre-chip {
      padding: 8px;
      border-radius: 1em;
      border: 2px solid nth($monochrome-chart-colors, 1);
      display: flex;
      flex: 1;
      margin-right: 10px;
      font-size: 18px;
      color: map-get($colors, 'green');
    }
  }
}
