.compare-landing {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 18px;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .copy-compare-link {
    border-radius: 4px;
    background-color: #080808;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;

    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 2px 4px 4px 4px;
      font-size: 20px;
      background-color: #000;
      border-radius: 4px;
      color: #fd44d5;
      text-align: center;
      border: 1px solid #283838;
      flex-wrap: wrap;
      gap: 6px;

      .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .link-container {
    font-size: 15px !important;
  }
}
