main.home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 4px;
    padding-bottom: 0;
  }

  h2 {
    margin-top: 4px;
    margin-bottom: 24px;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 0px;
  }

  .description-container {
    border: 1px solid #111;
    background-color: #212121;
    padding: 0px 12px;
    border-radius: 8px;
    margin-bottom: 6vh;

    p {
      font-size: 20px;
    }
  }

  .example-carousel {
    border-radius: 12px;
    margin-bottom: 28px;

    .carousel {
      margin-left: auto;
      margin-right: auto;
      border-radius: 12px;
      border: 4px solid #222;

      .example-image {
        border-radius: 12px;
        img {
          border-radius: 12px;
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6vh;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid #333;
}

@media only screen and (max-width: 800px) {
  main.home {
    width: 95vw;

    h1 {
      font-size: 40px;
    }

    .buttons-container button {
      height: 31vw;
      width: 41.8vw;
      font-size: 5vw;
      margin-left: 10px;
      margin-right: 10px;
    }

    .description-container p {
      font-size: 17px;
    }
  }
}
