main.stats {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin-top: 5px;

  .details {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}

.stats-details-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #282828;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;

  .stats-details-tab {
    font-size: 17px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 1px;
    margin-right: 1px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  .stats-details-tab[data-active='true'] {
    border-bottom: 2px solid #27b14c;
    font-weight: bold;
  }

  .stats-details-tab[data-active='false']:hover {
    border-bottom: 2px solid #4a6953;
  }
}

.headline-wrapper {
  display: flex;
  margin-bottom: 18px;

  .headline {
    font-size: 25px;
    z-index: 3;

    .username {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 800px) {
  .details {
    max-width: calc(100vw - 16px) !important;
  }

  .stats-details-tabs {
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6px;

    .stats-details-tab {
      font-size: 12px;
      padding-left: 3px;
      padding-right: 3px;
      border-bottom: 2px solid #56665b42;
    }
  }

  .headline {
    font-size: 21px !important;
  }
}

.stats-details-header {
  display: flex;
  flex-direction: column;
}

.related-artists-graph-tooltip {
  cursor: pointer;
  text-align: right;
  border-radius: 4px;
}

@media only screen and (min-width: 801px) {
  .related-artists-graph-tooltip {
    position: absolute;
    right: 7px;
    top: 51px;
    font-size: 14px;
    width: 75px;
    padding: 3px 2px;
    border: 1px solid #ccc;
  }
  .related-artists-graph-tooltip:hover {
    background-color: #cccccc18;
  }
}

@media only screen and (max-width: 800px) {
  .related-artists-graph-tooltip {
    font-size: 12px;
    width: 65px;
    padding: 1px;
    border: 1px solid #444;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: auto;
  }
}

.related-artists-graph-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10000;
  background-color: #33333370;
}

.related-artists-graph-modal {
  width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  background-color: #121212;
  padding: 16px;
  border-radius: 7px;
  border: 1px solid #888;
  box-sizing: border-box;

  p {
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
  }

  .close-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -4px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  h2 {
    font-size: 28px;
    margin-top: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .related-artists-graph-modal {
    font-size: 12px;
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 94vw;
    height: 90vh;
    overflow-y: auto;
  }
}
