.stats {
  display: flex;
  flex-direction: column;

  .headline {
    font-size: 34px;

    .username {
      font-weight: 600;
      color: #c700ff;
    }
  }

  .details {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
  }
}
