.stats {
  .headline-wrapper {
    display: flex;
    justify-content: center;

    .headline {
      font-size: 34px;
      z-index: 3;

      .username {
        font-weight: 600;
        color: #ddd;
      }
    }
  }

  .details {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .stats {
    width: calc(100vw - 14px);
  }
}
