.image-box-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 200px;
}

.image-box-grid.horizontally-scrollable {
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  justify-content: flex-start;
}

.timeframe-selector {
  padding-bottom: 30px;
}

.image-box-grid-title {
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 36px;
}

.show-more {
  text-decoration: underline;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
}

.image-box {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  height: 232px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  margin-right: 10px;
  align-items: center;
  color: white;

  .image-box-content {
    display: flex;
  }

  .card-data {
    z-index: 2;
    padding: 4px;
    align-items: flex-start;
    width: 128px;
  }

  .image-container {
    width: 160px;
    height: 160px;
  }

  .play-pause-button-wrapper {
    display: inline;
    padding: 4px;

    * {
      cursor: pointer;
      font-size: 20px;
      display: inline;
    }
  }

  a {
    z-index: 2;
    color: white;
  }
}
