.image-box-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 200px;
  padding: 20px;
  background-color: #0b0b0b;
  border-radius: 12px;
  margin-bottom: -46px;
  // box-shadow: inset 0px 0px 7px 3px rgba(26, 26, 26, 1);
  border: 1px solid #000;
}

.image-box-grid.horizontally-scrollable {
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  margin-bottom: 0;

  .image-box {
    margin-bottom: 4px;
  }
}

.timeframe-selector {
  padding-bottom: 30px;
}

.image-box-grid-title {
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}

.show-more {
  text-decoration: underline;
  cursor: pointer;
  font-size: 21px;
  text-align: center;
}

.image-box {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  height: 232px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  margin-right: 10px;
  align-items: center;
  color: white;

  .image-box-content {
    display: flex;
  }

  .card-data {
    z-index: 2;
    padding: 3px;
    align-items: flex-start;
    width: 128px;
  }

  .image-container {
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
  }

  .play-pause-button-wrapper {
    display: inline;
    padding: 4px;

    * {
      cursor: pointer;
      font-size: 20px;
      display: inline;
    }
  }

  a {
    z-index: 2;
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  .image-box-grid {
    padding: 10px;
    min-height: unset;
    max-height: 700px;
    overflow-y: auto;
  }

  .image-box {
    min-width: 140px;
    height: 160px;
    margin-right: 0;

    .image-box-content {
      max-width: 120px;
    }

    .image-container {
      width: 120px;
      height: 120px;
      min-width: 120px;
      min-height: 120px;
    }
  }

  .image-box-grid.horizontally-scrollable {
    .image-box {
      min-width: 90px;
      margin-right: 0;

      .image-box-content {
        max-width: 90px;
        font-size: 10px;
      }

      .image-container {
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
      }

      .play-pause-button-wrapper > * {
        font-size: 15px;
      }
    }
  }
}
