@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body,
html {
  background-color: #121212;
  color: #ddd;
  font-family: 'PT Sans', 'Open Sans', 'Roboto', 'Droid Sans', sans-serif;

  a {
    color: rgb(43, 43, 223);
  }

  a:visited {
    color: rgb(79, 63, 242);
  }
}

* {
  scrollbar-color: rgb(27, 27, 27);

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
  }

  ::-webkit-scrollbar-thumb {
    background: #424242;
    outline: 1px solid #333;
  }
}
