@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body,
html {
  background-color: #121212;
  color: #ddd;
  font-family: 'PT Sans', 'Open Sans', 'Roboto', 'Droid Sans', sans-serif;

  a {
    color: rgb(43, 43, 223);
  }

  a:visited {
    color: rgb(69, 53, 232);
  }
}
