@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body,
html {
  background-color: #161616;
  color: #d4d4d4;
  font-family: 'PT Sans', sans-serif;

  a {
    color: rgb(43, 43, 223);
  }

  a:visited {
    color: rgb(69, 53, 232);
  }
}
